.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}


.container {
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  text-align: -webkit-center;

* {
  box-sizing: border-box;
}

.table {
  width: 75%;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center; /* Alineación centrada por defecto */
}

.table th {
  background-color: orange;
  color: #ffffff;
}

@media (max-width: 700px) {
  .table thead {
    display: none; /* Mantener oculto el <thead> en móviles */
  }

  .table, 
  .table tbody, 
  .table tr, 
  .table td {
    display: block; /* Cambiar a diseño de bloque */
    width: 100%; /* Ancho completo para cada elemento */
  }

  .table tr {
    margin-bottom: 15px; /* Separación entre filas */
  }

  .table td {
    text-align: left; /* Alineación a la izquierda en móviles */
    padding-left: 50%; /* Dejar espacio para pseudo-elementos */
    position: relative; /* Necesario para posicionar el pseudo-elemento */
  }

  .table td::before {
    content: attr(data-label); /* Etiquetas basadas en los atributos data-label */
    position: absolute;
    left: 0; /* Alineación izquierda del pseudo-elemento */
    width: 45%; /* Ajusta el ancho del pseudo-elemento */
    padding-left: 15px; /* Espaciado a la izquierda */
    font-weight: bold; /* Negrita para los pseudo-elementos */
    text-align: left; /* Alineación del pseudo-elemento */
  }
}

body {
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* Pantalla Login */

.recuadro { /* Recuadro del div que contiene elementos del login */
  padding: 5% 5% 5% 5%; /* Espacio interno entre el borde y el contenido, arriba y abajo, izq y der*/
  margin: auto;/*Espacio externo,izquierda y derecha del recuadro*/
  margin-top: 8%; /* Espacio externo superior del recuadro */
  text-align: center; /* Centrar elementos dentro del recuadro */
  background-color: rgba(0, 0, 0, 0.1); /* Fondo semitransparente para el div */
  border-radius: 5%; /* Redondear borde */
  height: 30%; /* Altura div */
  width: 50%; /* Ancho div */

}

.titulologin { /* Titulo Bienvenido */
  font-family: Verdana, Geneva, Tahoma, sans-serif;/* Fuente de la letra */
  color: #ea9512; /* Color al titulo */
}

.campo_texto::placeholder { /* Campos que se vacían cuando los voy a completar */
  color: #666666; /* Color del texto del placeholder */
  opacity: 0.7; /* Transparencia del texto del placeholder */
  padding: 8%; /* Espacio interno */
  font-size: 70%; /* Tamaño de la fuente */ 
}

.campo_texto { /* Recuadro para ingresar texto usuario y contraseña */
  background-color: #dcdcdc;
  border-radius: 10vw;/* Redondear bordes */
  height: 200%; /* Altura recuadro */
  width: 80%; /* Ancho recuadro */
  border: 5% solid #6d6d6d; /* Color y grosor de bordes */
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1); /* Sombra a los campos */
  margin-top:10%; /* Espacio superior entre el elemento y el elemento anterior */
}

.botoningresar { /* Boton ingresar */
  background-color: #dcdcdc; /* Color de fondo */
  padding: 0.2vw 1vw; /* Espacio interno */
  border: 1px solid #6d6d6d;
  border-radius: 10vw; /* Redondear bordes */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-size: 110%; /* Tamaño de la fuente */
  margin-top:10%; /* Espacio superior entre el elemento y el elemento anterior */
}

.olvido { /* Texto final de olvido de contraseña*/
  margin-bottom:0.02vw; /* Espacio entre el texto de los diferentes renglones */
  font-size: 70%; /* Tamaño de la fuente */
  margin-top: 10%; /* Espacio superior entre el elemento y el elemento anterior */
}

.registro { /* Texto final de registro */
  font-size: 70%; /* Tamaño de la fuente */
  margin-top: 5%; /* Espacio superior entre el elemento y el elemento anterior */
}

a {
  color:#fcce6c; /* Color de los hipervinculos */
  font-weight: bold; /* Ponerle negrita al texto */
}
}

/* Fin login*/


/*Inicio Categorias*/

* {
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.sidebar {
  max-width: 400px; /* Ancho máximo para el contenedor del buscador */
  border: 1% solid #eee;
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 0px 3px gray;
  display:grid;
 
}

.searchbar {
  width: 100%; /* Ocupa el ancho completo del contenedor .sidebar */
  max-width: 300px; /* Ancho máximo para el buscador */
  background-color: #eee;
  border-radius: 1%;
  margin: 1%;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.2); /* Sombra para mejorar visibilidad */
}

input {
  width: 85%;
  border: none;
  outline: none;
  background: none;
  flex: 1; /* Ocupa el espacio disponible */
  padding: 5px; /* Espaciado dentro del campo de entrada */
}

.glass {
  color: #333; /* Color del icono de búsqueda */
  margin-left: 1px; /* Espacio entre el input y el icono */
}

.glass:hover {
  color: orangered;
  cursor: pointer;
}

/* Fin categorias */

.wrapper {
  background: var(--white);
  padding: 2rem;
  max-width: 576px;
  width: 100%;
  border-radius: .75rem;
  box-shadow: var(--shadow);
}

.wrapper h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: .5rem;
  font-size: 2rem;
  color: rgb(245, 222, 18);
  margin-bottom: 2rem;
}

.rating .star {
  cursor: pointer;
}

.rating .star.active {
  opacity: 0;
  animation: animate .5s ease-in-out forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.rating .star:hover {
  transform: scale(1.1);
}

textarea {
  width: 100%;
  background: whitesmoke;
  padding: 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  resize: none;
  margin-bottom: .5rem;
}

.btn-group {
  display: flex;
  grid-gap: .5rem;
  align-items: center;
}

.btn-group .btn {
  padding: .75rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .875rem;
  font-weight: 500;
}

.btn-group .btn.submit {
  background: lightskyblue;
  color: white;
}

.btn-group .btn.submit: hover {
  background: blue;
}

.btn-group .btn.cancel {
  background: white;
  color: lightskyblue;
}

.btn-group .btn.cancel: hover {
  background: light;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

.seccion-perfil-usuario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
}

.perfil-usuario-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.perfil-usuario-portada {
  display: block;
  position: relative;
  width: 100%;
  height: 17rem;
  background: linear-gradient(45deg, #fcce6c, #53C0FB);
  border-radius: 0 0 20px 20px;
}

.perfil-usuario-avatar {
  display: flex;
  width: 180px;
  height: 180px;
  align-items: center;
  justify-content: center;
  border: 7px solid #ffffff;
  background-color: #dcdcdc;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  position: absolute;
  bottom: -40px;
  left: calc(50% - 90px);
  z-index: 1;
}

.perfil-usuario-avatar img {
  width: 100%;
  position: relative;
  border-radius: 50%;
}

.perfil-usuario-avatar .boton-avatar {
  position: absolute;
  right: -2px;
  top: -2px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.perfil-usuario-body {
  width: 100%;
  position: relative;
  max-width: 750px;
}

.perfil-usuario-bio {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 1.25rem;
  text-align: center;
}

.perfil-usuario-bio h3 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  width: 100%;
}

.perfil-usuario-bio p {
  color: #848484;
  font-size: 0.95em;
  width: 100%;
}

#bio-usuario {
  display: none; /* Oculta solo la bio (información del usuario) */
}


.perfil-usuario-footer {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
}

/* Ajustes generales */
.form-group {
  display: flex;
  flex-direction: row; /* Mantiene íconos, etiquetas e inputs en línea */
  align-items: center;
  margin-bottom: 15px;
  width: 100%; /* Asegura que cada grupo de formulario ocupe todo el ancho */
  box-sizing: border-box; /* Asegura que padding y borders estén incluidos en el ancho */
}

.form-group i {
  margin-right: 10px;
  font-size: 1.2em;
  align-self: center; /* Alinea el ícono en el centro verticalmente */
}

.form-group label {
  flex-shrink: 0;
  margin-right: 10px;
  min-width: 120px; /* Asegura un ancho consistente para las etiquetas */
  text-align: left;
  align-self: center; /* Alinea la etiqueta en el centro verticalmente */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
  flex-grow: 1; /* Hace que el input ocupe todo el espacio disponible */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 40px; /* Mantiene la misma altura para todos los inputs */
  width: 100%; /* Asegura que el input ocupe todo el espacio horizontal posible */
  box-sizing: border-box; /* Incluye padding y borders en el ancho total */
}

.lista-datos {
  width: 100%; /* Asegura que las columnas ocupen el 100% del contenedor */
  display: flex;
  flex-direction: column; /* Cambia a una disposición vertical */
}




.btn-guardar {
  display: block;
  width: 100%;
  padding: 10px;
  background: #53C0FB;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.btn-guardar:hover {
  background: #45a0d1;
}

/* Modo noche */
body.night-mode {
  background-color: #333;
  color: #fff;
}

body.night-mode .perfil-usuario-bio,
body.night-mode .perfil-usuario-footer {
  background-color: #444;
  color: #fff;
}

body.night-mode input[type="text"],
body.night-mode input[type="email"],
body.night-mode input[type="tel"] {
  background-color: #555;
  color: #fff;
  border-color: #666;
}

body.night-mode .btn-guardar {
  background: #2980b9;
}

body.night-mode .btn-guardar:hover {
  background: #3498db;
}